@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-flex {
    @apply flex flex-col md:flex-row justify-center mt-8;
  }
  .custom-circle {
    @apply flex flex-col md:flex-row items-center;
  }
}

/* .custom-container {
  height: 100vh;
  background-color: #f0f0f0;
} */

.custom-text {
  text-align: center;
}

.custom-text-lg {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.custom-bold {
  font-weight: bold;
}
.custom-text-blue {
  color: #007bff;
}

.custom-text-orange {
  color: #ff7f50;
}

.custom-img {
  width: 3rem;
  height: 3rem;
  margin-bottom: 0.5rem;
  border-radius: 50%;
  border: 2px solid transparent;
}

.custom-text-xs {
  font-size: 0.75rem;
}
